body {
	height:100vh;
  display:flex; 
  flex-direction:column; 
}

.description {
  position: absolute;
  width: 100%;
  top: 20vh;
}

.description span {
	position: absolute;
	top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 25pt;
  color: #C0C0C0;
  opacity: 0;
}

.menu {
	text-align: center;
	width: fit-content;
	margin: 40vh auto auto auto;
}

.menu a {
	text-decoration: none;
	color: #C0C0C0;
	-webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  font-size: 80pt;
}

.menu a:hover {
	color: #6495ED;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color: white;
  padding: 1em;
  opacity: 1;
  z-index: 99999;
}

.nav {
	text-align: center;
	width: fit-content;
	margin: auto;
}

.nav a {
	text-decoration: none;
	color: #C0C0C0;
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
    font-size: 20pt;
}

.nav a:hover {
	color: #6495ED;
}

#about {
	margin-top: 90px;
}

.slika {
	height: 540px;

	background-image: url(../images/mario.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 25% 75% / 50%;

	margin: 20px 0;

	transition: border 0.1s linear;
}

.slika:hover {
	border: solid 5px #6495ED;
}

.greet p {
	font-size: 69pt;
    line-height: 78pt;
    margin-top: 136px;
}
.greet span {
	color: #6495ED;
}

.stats {
	margin: 60px 0;
	background-color: #F0F4FD;
}

.stats p {
	color: #6495ED;
	text-align: center;
	padding: 20px;
  margin: 20px 0;
  font-size: 15pt;
  white-space: nowrap;
}

.text {
	width: 70%;
	margin: 50px auto;
}

.text p {
	margin: 0;
	font-size: 17pt;
}

.picture {
	text-align: center;
	margin-top: 100px;
}


.program {
	margin-top: 90px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fade 1s;
  margin-top: 30px;
  height: 300px;
  overflow: scroll;
}

.tabcontent p {
	margin: 0;
}

.program button {
	transition: 0.3s;
}

.program button.active {
	background-color: #6495ED;
	color: white;
	border: none;
}

.tablica h3 {
	margin-top: 20px;
}

.tablica {
	overflow: scroll;
}

.aplikacije {
	color: whitesmoke;
	background: url('../images/TR_Dnevni_2.png') rgba(16,16,25, 0.75);
	background-size:cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	background-position: center;
	margin-top: 50px;
	height: 100vh;
	min-height: 650px;
}

.aplikacije span {
	font-size: 23vw;
	margin-left: 10px;
}

#logo {
	width: 40px;
	height: 40px;
}

footer {
	text-align: center;
	padding: 10px;
	margin-top: auto;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media only screen and (max-width: 806px) {
	.menu {
		margin: 20vh auto auto auto;
	}

	.menu a {
		font-size: 60pt;
	}
}

@media only screen and (max-width: 859px) {
	.greet p {
		margin-top: 30px;
	} 
}
