.menu {
	text-align: center;
	margin: 300px 0;
}

.menu span {
	text-decoration: none;
	color: #C0C0C0;
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    cursor: pointer;
}

.menu span:hover {
	color: #6495ED;
}

.text {
	color: whitesmoke;
}

.text p {
	margin: 0;
}

.arhitekt {
	height: 330px;
	width: 330px;
	object-fit: cover;
	border-radius: 50%;
	overflow: scroll;
}

.about {
	margin: 50px 0;
}

.picture {
	text-align: center;
	margin-top: 100px;
}


.program {
	margin-top: 40px;
}

.tablica h3 {
	margin-top: 20px;
}

.tablica {
	overflow: scroll;
}

.aplikacije {
	color: whitesmoke;
	background: url('../images/TR_Dnevni_2.png') rgba(16,16,25, 0.7);
  	background-size:cover;
  	background-blend-mode: multiply;
  	background-attachment: fixed;
  	background-position: center;
  	margin-top: 40px;
  	padding: 90px 0;
}

.info {
	margin-top: 30px;
}

.forma {
	margin: 40px 0;
	text-align: center;
}
/*
form {
	overflow: scroll;
} 
*/
#logo {
	width: 40px;
	height: 40px;
}

footer {
	text-align: center;
	border-top: 0.5px solid lightgray;
	padding-top: 20px;
	background-color: whitesmoke;
}
